{% extends 'layout.html' %}
{% block content %}
<form action="" method="POST">
    {% csrf_token %}
<div class="row justify-content-md-center">
    <div class="col-lg-6">
        
                            <div class="card">
                                <div class="card-header">
                                    <strong>Request </strong> Form
                                </div>
                                <div class="card-body card-block">
                                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Club</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <p class="form-control-static">{{ club }}</p>
                                            </div>
                                        </div>
                                     <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="disabled-input" class=" form-control-label">Event </label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="disabled-input" name="disabled-input" placeholder="{{ event }}" disabled="" class="form-control">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="disabled-input" class=" form-control-label">Date</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="disabled-input" name="disabled-input" placeholder="{{date }}" disabled="" class="form-control">
                                            </div>
                                        </div>
                                       <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="disabled-input" class=" form-control-label">Classe</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="disabled-input" name="disabled-input" placeholder="{{classe }}" disabled="" class="form-control">
                                            </div>
                                        </div>
                                        
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="textarea" class=" form-control-label">Description</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <textarea name="textarea" id="textarea-disabled-input" rows="9" placeholder="{{ description }}" class="form-control" disabled=""></textarea>
                                            </div>
                                        </div>

                                           <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="textarea" class=" form-control-label">Note</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <textarea name="textarea" id="textarea-disabled-input" rows="9" placeholder="Content..." class="form-control" ></textarea>
                                            </div>
                                        </div>
                                        
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Radios</label>
                                            </div>
                                            <div class="col col-md-9">
                                                <div class="form-check">
                                                    <div class="radio">
                                                        <label for="radio1" class="form-check-label ">
                                                            <input type="radio" id="radio1" name="radios" value="process" class="form-check-input">Accept 
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="radio2" name="radios" value="denied" class="form-check-input">Denie 
                                                        </label>
                                                    </div>
                                                    <div class="radio">
                                                        <label for="radio2" class="form-check-label ">
                                                            <input type="radio" id="radio2" name="radios" value="wait" class="form-check-input">Wait 
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </div>
                            
</div>
</form>
{% endblock %}